@media  (max-width: 768px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style0 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 273px;
flex-direction: column;}
.style33 {
background-color: #ffffff;
margin-top: 0px;
width: 0px;
height: 0px;}
.iphone6781container0row1 {
display: flex;
margin-left: 27px;
margin-top: 27px;
width: 220px;
height: 31px;
align-items: center;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5men.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 29px;
height: 100%;}
.style5 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 1.1875em;
font-weight: 700;
margin-left: 73px;
height: 22px;}
.iphone6781container0row2 {
display: flex;
margin-top: 15px;
width: 66px;
height: 9px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style2 {
background-color: #b4b4b4;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 10px;}
.style4 {
background-color: #b4b4b4;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 10px;}
.style3 {
background-color: #0088ff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 10px;}
.style6 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5mwy.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 30px;
width: 88px;
height: 84px;
align-self: center;}
.style7 {
color: #0088ff;
font-family: 'Open Sans',serif;
font-size: 1em;
font-weight: 700;
margin-top: 30px;
height: 18px;
align-self: center;}
.style8 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 47px;
flex-direction: column;
justify-content: center;}
.iphone6781container6row0 {
display: flex;
margin-left: 21px;
width: 321px;
height: 25px;
align-items: center;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5ngv.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 25px;
height: 100%;}
.style9 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 0.9375em;
margin-left: 18px;
height: 14px;}
.style10 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 1em;
font-weight: 600;
margin-left: 83px;
height: 18px;}
.style34 {
background-color: #0086ff;
box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.1607843137254902);
display: flex;
margin-left: 59px;
margin-top: 14px;
width: 263px;
height: 38px;
align-items: center;
flex-direction: column;
justify-content: center;}
.iphone6781btnprimaryfullrow0 {
position: relative;
display: flex;
width: 99px;
height: 18px;
align-items: stretch;}
.style35 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5tqu.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
position: relative;
margin-left: 0px;
width: 15px;
flex-shrink: 0;}
.style36 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 0.875em;
font-weight: 700;
margin-left: 15px;
flex-shrink: 0;}
.iphone6781row3 {
display: flex;
margin-left: 19px;
margin-top: 26px;
width: 342px;
height: 67px;}
.style12 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5nyz.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 67px;
height: 100%;
align-self: stretch;}
.iphone6781row3column1 {
display: flex;
margin-left: 11px;
width: 93px;
height: 55px;
flex-direction: column;}
.style18 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 0.6875em;
font-weight: 700;
margin-top: 0px;
height: 13px;}
.style17 {
color: #757575;
font-family: 'arial',serif;
font-size: 0.625em;
margin-top: 13px;
height: 10px;}
.style16 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 0.5em;
margin-top: 12px;
height: 7px;}
.style14 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 25px 22px;
border-top-right-radius: 25px 22px;
border-bottom-left-radius: 25px 22px;
border-bottom-right-radius: 25px 22px;
display: flex;
margin-left: 31px;
margin-top: 8px;
width: 47px;
height: 41px;
align-items: center;
flex-direction: column;
justify-content: center;}
.style15 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5pbs.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 12px;
height: 15px;}
.style13 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5ouh.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 12px;
width: 80px;
height: 24px;
align-self: center;}
.iphone6781row4 {
display: flex;
margin-left: 19px;
margin-top: 14px;
width: 342px;
height: 67px;}
.style26 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5rvk.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 67px;
height: 100%;
align-self: stretch;}
.iphone6781row4column1 {
display: flex;
margin-left: 11px;
width: 93px;
height: 55px;
flex-direction: column;}
.style32 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 0.6875em;
font-weight: 700;
margin-top: 0px;
height: 13px;}
.style31 {
color: #757575;
font-family: 'arial',serif;
font-size: 0.625em;
margin-top: 14px;
height: 10px;}
.style30 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 0.5em;
margin-top: 11px;
height: 7px;}
.style28 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 25px 22px;
border-top-right-radius: 25px 22px;
border-bottom-left-radius: 25px 22px;
border-bottom-right-radius: 25px 22px;
display: flex;
margin-left: 31px;
width: 47px;
height: 41px;
align-items: center;
align-self: center;
flex-direction: column;
justify-content: center;}
.style29 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5t8f.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 10px;
height: 13px;}
.style27 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5sq2.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 12px;
width: 80px;
height: 24px;
align-self: center;}
.iphone6781row5 {
display: flex;
margin-left: 19px;
margin-top: 15px;
width: 342px;
height: 67px;}
.style19 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5pvr.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 67px;
height: 100%;
align-self: stretch;}
.iphone6781row5column1 {
display: flex;
margin-left: 11px;
width: 93px;
height: 55px;
flex-direction: column;}
.style25 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 0.6875em;
font-weight: 700;
margin-top: 0px;
height: 13px;}
.style24 {
color: #757575;
font-family: 'arial',serif;
font-size: 0.625em;
margin-top: 14px;
height: 10px;}
.style23 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 0.5em;
margin-top: 11px;
height: 7px;}
.style21 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 25px 22px;
border-top-right-radius: 25px 22px;
border-bottom-left-radius: 25px 22px;
border-bottom-right-radius: 25px 22px;
display: flex;
margin-left: 31px;
width: 47px;
height: 41px;
align-items: center;
align-self: center;
flex-direction: column;
justify-content: center;}
.style22 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5rd3.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 10px;
height: 13px;}
.style20 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5qqf.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 12px;
width: 80px;
height: 24px;
align-self: center;}
.style37 {
background-color: #242424;
position: relative;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 47px;}
}@media  (min-width: 768px)  and  (max-width: 920px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style0 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 559px;
flex-direction: column;}
.style33 {
background-color: #ffffff;
margin-top: 0px;
width: 0px;
height: 0px;}
.iphone6781container0row1 {
display: flex;
margin-left: 55px;
margin-top: 55px;
width: 451px;
height: 63px;
align-items: center;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5men.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 59px;
height: 100%;}
.style5 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 2.432em;
font-weight: 700;
margin-left: 150px;
height: 45px;}
.iphone6781container0row2 {
display: flex;
margin-top: 31px;
width: 135px;
height: 18px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style2 {
background-color: #b4b4b4;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 20px;}
.style4 {
background-color: #b4b4b4;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 20px;}
.style3 {
background-color: #0088ff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 20px;}
.style6 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5mwy.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 61px;
width: 180px;
height: 172px;
align-self: center;}
.style7 {
color: #0088ff;
font-family: 'Open Sans',serif;
font-size: 2.048em;
font-weight: 700;
margin-top: 61px;
height: 37px;
align-self: center;}
.style8 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 96px;
flex-direction: column;
justify-content: center;}
.iphone6781container6row0 {
display: flex;
margin-left: 43px;
width: 657px;
height: 51px;
align-items: center;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5ngv.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 51px;
height: 100%;}
.style9 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.92em;
margin-left: 37px;
height: 29px;}
.style10 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 2.048em;
font-weight: 600;
margin-left: 170px;
height: 37px;}
.style34 {
background-color: #0086ff;
box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.1607843137254902);
display: flex;
margin-left: 121px;
margin-top: 29px;
width: 539px;
height: 78px;
align-items: center;
flex-direction: column;
justify-content: center;}
.iphone6781btnprimaryfullrow0 {
position: relative;
display: flex;
width: 203px;
height: 37px;
align-items: stretch;}
.style35 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5tqu.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
position: relative;
margin-left: 0px;
width: 31px;
flex-shrink: 0;}
.style36 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 1.792em;
font-weight: 700;
margin-left: 31px;
flex-shrink: 0;}
.iphone6781row3 {
display: flex;
margin-left: 39px;
margin-top: 53px;
width: 700px;
height: 137px;}
.style12 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5nyz.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 137px;
height: 100%;
align-self: stretch;}
.iphone6781row3column1 {
display: flex;
margin-left: 23px;
width: 190px;
height: 113px;
flex-direction: column;}
.style18 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 1.408em;
font-weight: 700;
margin-top: 0px;
height: 27px;}
.style17 {
color: #757575;
font-family: 'arial',serif;
font-size: 1.28em;
margin-top: 27px;
height: 20px;}
.style16 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.024em;
margin-top: 25px;
height: 14px;}
.style14 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 25px 22px;
border-top-right-radius: 25px 22px;
border-bottom-left-radius: 25px 22px;
border-bottom-right-radius: 25px 22px;
display: flex;
margin-left: 63px;
margin-top: 16px;
width: 96px;
height: 84px;
align-items: center;
flex-direction: column;
justify-content: center;}
.style15 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5pbs.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 25px;
height: 31px;}
.style13 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5ouh.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 25px;
width: 164px;
height: 49px;
align-self: center;}
.iphone6781row4 {
display: flex;
margin-left: 39px;
margin-top: 29px;
width: 700px;
height: 137px;}
.style26 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5rvk.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 137px;
height: 100%;
align-self: stretch;}
.iphone6781row4column1 {
display: flex;
margin-left: 23px;
width: 190px;
height: 113px;
flex-direction: column;}
.style32 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 1.408em;
font-weight: 700;
margin-top: 0px;
height: 27px;}
.style31 {
color: #757575;
font-family: 'arial',serif;
font-size: 1.28em;
margin-top: 29px;
height: 20px;}
.style30 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.024em;
margin-top: 23px;
height: 14px;}
.style28 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 25px 22px;
border-top-right-radius: 25px 22px;
border-bottom-left-radius: 25px 22px;
border-bottom-right-radius: 25px 22px;
display: flex;
margin-left: 63px;
width: 96px;
height: 84px;
align-items: center;
align-self: center;
flex-direction: column;
justify-content: center;}
.style29 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5t8f.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 20px;
height: 27px;}
.style27 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5sq2.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 25px;
width: 164px;
height: 49px;
align-self: center;}
.iphone6781row5 {
display: flex;
margin-left: 39px;
margin-top: 31px;
width: 700px;
height: 137px;}
.style19 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5pvr.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 137px;
height: 100%;
align-self: stretch;}
.iphone6781row5column1 {
display: flex;
margin-left: 23px;
width: 190px;
height: 113px;
flex-direction: column;}
.style25 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 1.408em;
font-weight: 700;
margin-top: 0px;
height: 27px;}
.style24 {
color: #757575;
font-family: 'arial',serif;
font-size: 1.28em;
margin-top: 29px;
height: 20px;}
.style23 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.024em;
margin-top: 23px;
height: 14px;}
.style21 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 25px 22px;
border-top-right-radius: 25px 22px;
border-bottom-left-radius: 25px 22px;
border-bottom-right-radius: 25px 22px;
display: flex;
margin-left: 63px;
width: 96px;
height: 84px;
align-items: center;
align-self: center;
flex-direction: column;
justify-content: center;}
.style22 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5rd3.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 20px;
height: 27px;}
.style20 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5qqf.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 25px;
width: 164px;
height: 49px;
align-self: center;}
.style37 {
background-color: #242424;
position: relative;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 96px;}
}@media  (min-width: 920px)  and  (max-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style0 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 670px;
flex-direction: column;}
.style33 {
background-color: #ffffff;
margin-top: 0px;
width: 0px;
height: 0px;}
.iphone6781container0row1 {
display: flex;
margin-left: 66px;
margin-top: 66px;
width: 540px;
height: 76px;
align-items: center;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5men.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 71px;
height: 100%;}
.style5 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 2.913333333333333em;
font-weight: 700;
margin-left: 179px;
height: 54px;}
.iphone6781container0row2 {
display: flex;
margin-top: 37px;
width: 162px;
height: 22px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style2 {
background-color: #b4b4b4;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 25px;}
.style4 {
background-color: #b4b4b4;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 25px;}
.style3 {
background-color: #0088ff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 25px;}
.style6 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5mwy.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 74px;
width: 216px;
height: 206px;
align-self: center;}
.style7 {
color: #0088ff;
font-family: 'Open Sans',serif;
font-size: 2.453333333333333em;
font-weight: 700;
margin-top: 74px;
height: 44px;
align-self: center;}
.style8 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 115px;
flex-direction: column;
justify-content: center;}
.iphone6781container6row0 {
display: flex;
margin-left: 52px;
width: 788px;
height: 61px;
align-items: center;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5ngv.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 61px;
height: 100%;}
.style9 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.3em;
margin-left: 44px;
height: 34px;}
.style10 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 2.453333333333333em;
font-weight: 600;
margin-left: 204px;
height: 44px;}
.style34 {
background-color: #0086ff;
box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.1607843137254902);
display: flex;
margin-left: 145px;
margin-top: 34px;
width: 645px;
height: 93px;
align-items: center;
flex-direction: column;
justify-content: center;}
.iphone6781btnprimaryfullrow0 {
position: relative;
display: flex;
width: 243px;
height: 44px;
align-items: stretch;}
.style35 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5tqu.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
position: relative;
margin-left: 0px;
width: 37px;
flex-shrink: 0;}
.style36 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 2.1466666666666665em;
font-weight: 700;
margin-left: 37px;
flex-shrink: 0;}
.iphone6781row3 {
display: flex;
margin-left: 47px;
margin-top: 64px;
width: 839px;
height: 164px;}
.style12 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5nyz.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 164px;
height: 100%;
align-self: stretch;}
.iphone6781row3column1 {
display: flex;
margin-left: 27px;
width: 228px;
height: 135px;
flex-direction: column;}
.style18 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 1.6866666666666665em;
font-weight: 700;
margin-top: 0px;
height: 32px;}
.style17 {
color: #757575;
font-family: 'arial',serif;
font-size: 1.5333333333333332em;
margin-top: 32px;
height: 25px;}
.style16 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.2266666666666666em;
margin-top: 29px;
height: 17px;}
.style14 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 25px 22px;
border-top-right-radius: 25px 22px;
border-bottom-left-radius: 25px 22px;
border-bottom-right-radius: 25px 22px;
display: flex;
margin-left: 76px;
margin-top: 20px;
width: 115px;
height: 101px;
align-items: center;
flex-direction: column;
justify-content: center;}
.style15 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5pbs.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 29px;
height: 37px;}
.style13 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5ouh.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 29px;
width: 196px;
height: 59px;
align-self: center;}
.iphone6781row4 {
display: flex;
margin-left: 47px;
margin-top: 34px;
width: 839px;
height: 164px;}
.style26 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5rvk.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 164px;
height: 100%;
align-self: stretch;}
.iphone6781row4column1 {
display: flex;
margin-left: 27px;
width: 228px;
height: 135px;
flex-direction: column;}
.style32 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 1.6866666666666665em;
font-weight: 700;
margin-top: 0px;
height: 32px;}
.style31 {
color: #757575;
font-family: 'arial',serif;
font-size: 1.5333333333333332em;
margin-top: 34px;
height: 25px;}
.style30 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.2266666666666666em;
margin-top: 27px;
height: 17px;}
.style28 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 25px 22px;
border-top-right-radius: 25px 22px;
border-bottom-left-radius: 25px 22px;
border-bottom-right-radius: 25px 22px;
display: flex;
margin-left: 76px;
width: 115px;
height: 101px;
align-items: center;
align-self: center;
flex-direction: column;
justify-content: center;}
.style29 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5t8f.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 25px;
height: 32px;}
.style27 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5sq2.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 29px;
width: 196px;
height: 59px;
align-self: center;}
.iphone6781row5 {
display: flex;
margin-left: 47px;
margin-top: 37px;
width: 839px;
height: 164px;}
.style19 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5pvr.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 164px;
height: 100%;
align-self: stretch;}
.iphone6781row5column1 {
display: flex;
margin-left: 27px;
width: 228px;
height: 135px;
flex-direction: column;}
.style25 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 1.6866666666666665em;
font-weight: 700;
margin-top: 0px;
height: 32px;}
.style24 {
color: #757575;
font-family: 'arial',serif;
font-size: 1.5333333333333332em;
margin-top: 34px;
height: 25px;}
.style23 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.2266666666666666em;
margin-top: 27px;
height: 17px;}
.style21 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 25px 22px;
border-top-right-radius: 25px 22px;
border-bottom-left-radius: 25px 22px;
border-bottom-right-radius: 25px 22px;
display: flex;
margin-left: 76px;
width: 115px;
height: 101px;
align-items: center;
align-self: center;
flex-direction: column;
justify-content: center;}
.style22 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5rd3.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 25px;
height: 32px;}
.style20 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5qqf.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 29px;
width: 196px;
height: 59px;
align-self: center;}
.style37 {
background-color: #242424;
position: relative;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 115px;}
}@media  (min-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style0 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 874px;
flex-direction: column;}
.style33 {
background-color: #ffffff;
margin-top: 0px;
width: 0px;
height: 0px;}
.iphone6781container0row1 {
display: flex;
margin-left: 86px;
margin-top: 86px;
width: 704px;
height: 99px;
align-items: center;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5men.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 93px;
height: 100%;}
.style5 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 3.8000000000000003em;
font-weight: 700;
margin-left: 234px;
height: 70px;}
.iphone6781container0row2 {
display: flex;
margin-top: 48px;
width: 211px;
height: 29px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style2 {
background-color: #b4b4b4;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 32px;}
.style4 {
background-color: #b4b4b4;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 32px;}
.style3 {
background-color: #0088ff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 32px;}
.style6 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5mwy.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 96px;
width: 282px;
height: 269px;
align-self: center;}
.style7 {
color: #0088ff;
font-family: 'Open Sans',serif;
font-size: 3.2em;
font-weight: 700;
margin-top: 96px;
height: 58px;
align-self: center;}
.style8 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 150px;
flex-direction: column;
justify-content: center;}
.iphone6781container6row0 {
display: flex;
margin-left: 67px;
width: 1027px;
height: 80px;
align-items: center;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5ngv.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 80px;
height: 100%;}
.style9 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 3em;
margin-left: 58px;
height: 45px;}
.style10 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 3.2em;
font-weight: 600;
margin-left: 266px;
height: 58px;}
.style34 {
background-color: #0086ff;
box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.1607843137254902);
display: flex;
margin-left: 189px;
margin-top: 45px;
width: 842px;
height: 122px;
align-items: center;
flex-direction: column;
justify-content: center;}
.iphone6781btnprimaryfullrow0 {
position: relative;
display: flex;
width: 317px;
height: 58px;
align-items: stretch;}
.style35 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5tqu.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
position: relative;
margin-left: 0px;
width: 48px;
flex-shrink: 0;}
.style36 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 2.8000000000000003em;
font-weight: 700;
margin-left: 48px;
flex-shrink: 0;}
.iphone6781row3 {
display: flex;
margin-left: 61px;
margin-top: 83px;
width: 1094px;
height: 214px;}
.style12 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5nyz.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 214px;
height: 100%;
align-self: stretch;}
.iphone6781row3column1 {
display: flex;
margin-left: 35px;
width: 298px;
height: 176px;
flex-direction: column;}
.style18 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 2.2em;
font-weight: 700;
margin-top: 0px;
height: 42px;}
.style17 {
color: #757575;
font-family: 'arial',serif;
font-size: 2em;
margin-top: 42px;
height: 32px;}
.style16 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.6em;
margin-top: 38px;
height: 22px;}
.style14 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 25px 22px;
border-top-right-radius: 25px 22px;
border-bottom-left-radius: 25px 22px;
border-bottom-right-radius: 25px 22px;
display: flex;
margin-left: 99px;
margin-top: 26px;
width: 150px;
height: 131px;
align-items: center;
flex-direction: column;
justify-content: center;}
.style15 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5pbs.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 38px;
height: 48px;}
.style13 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5ouh.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 38px;
width: 256px;
height: 77px;
align-self: center;}
.iphone6781row4 {
display: flex;
margin-left: 61px;
margin-top: 45px;
width: 1094px;
height: 214px;}
.style26 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5rvk.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 214px;
height: 100%;
align-self: stretch;}
.iphone6781row4column1 {
display: flex;
margin-left: 35px;
width: 298px;
height: 176px;
flex-direction: column;}
.style32 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 2.2em;
font-weight: 700;
margin-top: 0px;
height: 42px;}
.style31 {
color: #757575;
font-family: 'arial',serif;
font-size: 2em;
margin-top: 45px;
height: 32px;}
.style30 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.6em;
margin-top: 35px;
height: 22px;}
.style28 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 25px 22px;
border-top-right-radius: 25px 22px;
border-bottom-left-radius: 25px 22px;
border-bottom-right-radius: 25px 22px;
display: flex;
margin-left: 99px;
width: 150px;
height: 131px;
align-items: center;
align-self: center;
flex-direction: column;
justify-content: center;}
.style29 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5t8f.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 32px;
height: 42px;}
.style27 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5sq2.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 38px;
width: 256px;
height: 77px;
align-self: center;}
.iphone6781row5 {
display: flex;
margin-left: 61px;
margin-top: 48px;
width: 1094px;
height: 214px;}
.style19 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5pvr.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 214px;
height: 100%;
align-self: stretch;}
.iphone6781row5column1 {
display: flex;
margin-left: 35px;
width: 298px;
height: 176px;
flex-direction: column;}
.style25 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 2.2em;
font-weight: 700;
margin-top: 0px;
height: 42px;}
.style24 {
color: #757575;
font-family: 'arial',serif;
font-size: 2em;
margin-top: 45px;
height: 32px;}
.style23 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.6em;
margin-top: 35px;
height: 22px;}
.style21 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 25px 22px;
border-top-right-radius: 25px 22px;
border-bottom-left-radius: 25px 22px;
border-bottom-right-radius: 25px 22px;
display: flex;
margin-left: 99px;
width: 150px;
height: 131px;
align-items: center;
align-self: center;
flex-direction: column;
justify-content: center;}
.style22 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5rd3.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 32px;
height: 42px;}
.style20 {
background-image: url('https://designresources.assets.yotako.io/40599uvjn4i5qqf.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 38px;
width: 256px;
height: 77px;
align-self: center;}
.style37 {
background-color: #242424;
position: relative;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 150px;}
}